.red,.error_req,.sp {color:red;}

.img-danger{width:55%;}

/* CANVAS with chart */
#graph{
	/*width:60%;*/
	/*height:400px;*/
}
/*
In most general cases we should avoid using CSS to set the canvas size.
The default size of canvas is 300 x 150 pixels (bitmap). If you set the size using CSS we'll just end up scaling those 300 x 150 pixels meaning the browser will start interpolating and smoothing the image, which is why you end up with a blurry result.
*/



/* Tooltip CSS*/
body {
    background-color: ivory;
    margin-top:35px;
}
#wrapper {
	/*
    position:relative;
    width:300px;
    height:150px; */
	overflow-x: scroll; /* enable horiz scroll */
}
canvas {
    border:1px solid red; 
}
#tip {
    background-color:white;
    border:1px solid blue;
    position:absolute;
    left:-200px;
    top:100px;
	display:none; /* mine-> tooltip is invisible by default, made to fix overlapping */
	border-radius: 8px;
	

}

/* ---------------------------------------- Mobile */
@media screen and (max-width: 480px) { 
  #tip {width:20%; font-size:22px;}
}

/* END Tooltip CSS*/

/* just empty div for not footer overlap the canvas */
.for-space{height:350px;}

footer{text-align:center;}








/* Bootstrap page CSS */
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
/* END Bootstrap page CSS */